<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    配置durid线程池 -->
    <bean id="default" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${B.driver_class}"/>
        <property name="url" value="${B.url}"/>
        <property name="username" value="${B.username}"/>
        <property name="password" value="${B.password}"/>
    </bean>

    <bean id="dataSource_A" class="com.alibaba.d">
        <property name="driverClassName" value="${A.driver_class}"/>
        <property name="url" value="${A.url}"/>
        <property name="username" value="${A.username}"/>
        <property name="password" value="${A.password}"/>
    </bean>

    <bean id="dataSource_B" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName" value="${B.driver_class}"/>
        <property name="url" value="${B.url}"/>
        <property name="username" value="${B.username}"/>
        <property name="password" value="${B.password}"/>
    </bean>

</beans>

