<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.chenxinfan.stock.mapper.SkuStockMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.chenxinfan.stock.domain.dao.SkuStock">
        <id column="id" property="id"/>
        <result column="sku_id" property="skuId"/>
        <result column="stock" property="stock"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,sku_id,stock
    </sql>

    <update id="deductStock">
        update sku_stock_01
        set stock = stock - #{deductStockNum}
        where stock >= #{deductStockNum}
          and sku_id = #{skuId}
    </update>

</mapper>
